@rendermode InteractiveWebAssembly

@inject NavigationManager navigationManager;
@inject NotificationService notificationService;

<RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap" AlignItems="AlignItems.Start">
    <RadzenLabel Text="Mois" Component="month" Style="line-height:40px" />
    <RadzenDropDown Value=@Month
                    Data=@Months
                    Name="month"
                    Style="width:350px"
                    Change="OnMonthChange">
        <Template>
            @DateTime.Parse(@context).ToString("MMMM yyyy") @(((string)context).Count(c => c == '-') == 2 && Months.Count(m => m.StartsWith(((string)context)[0..^3])) > 1 ? $"v{Months.Where(m => m.StartsWith(((string)context)[0..^3])).Reverse().ToList().IndexOf(context) + 1}" : "")
        </Template>
        <ValueTemplate>
            @DateTime.Parse(@context).ToString("MMMM yyyy") @(((string)context).Count(c => c == '-') == 2 && Months.Count(m => m.StartsWith(((string)context)[0..^3])) > 1 ? $"v{Months.Where(m => m.StartsWith(((string)context)[0..^3])).Reverse().ToList().IndexOf(context) + 1}" : "")
        </ValueTemplate>
    </RadzenDropDown>
</RadzenStack>

<div class="@(IsAuthenticated ? "mystere" : "")">
    @if (Data.Count == 0)
    {
        <p>Pas de Burger Mystère ce mois-ci 🥺</p>
    }
    else if (Data.SelectMany(s => s.Burgers).Any())
    {
        @foreach (var campaign in Data)
        {
            <br />
            <RadzenText Text="@campaign.Name" TextStyle="TextStyle.DisplayH6" />
            <span style="font-size:0.9em;font-style:italic">
                Prix : @campaign.Price.ToString("0.00 €") / Espérance : @campaign.PriceExpectancy.ToString("0.00 €") <span style="font-size:0.8em">(x @campaign.PriceGain.ToString("0.00"))</span> et @campaign.EnergyExpectancy.ToString("0 kcal") <span style="font-size:0.8em">(@campaign.EnergyGain.ToString("0 kcal/€"))</span>
            </span>
            <br />
            <br />
            @if (campaign.Name == "Duo Mystère")
            {
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                    <RadzenLabel Text="Afficher les" Component="costBy" />
                    <span style="cursor:pointer" @onclick=@(() => criteria.OnlyOne = false)>Duos</span>
                    <RadzenSwitch Name="onlyOne" Value="criteria.OnlyOne" Change="@(() => criteria.OnlyOne = !criteria.OnlyOne)" />
                    <span style="cursor:pointer" @onclick=@(() => criteria.OnlyOne = true)>Produits seuls</span>
                </RadzenStack>
                <br />
                @if (!criteria.OnlyOne)
                {
                    <RadzenPanel AllowCollapse="true" Collapsed="!filter" Expand="@(() => filter = true)" Collapse="@(() => filter = false)">
                        <HeaderTemplate>
                            @if (criteria != new MysteryCriteria())
                            {
                                <RadzenButton Text="Réinitialiser" Variant="Variant.Outlined" Icon="replay" Click="@(() => criteria = new())" />
                            }
                            <span @onclick="@(() => filter = !filter)">Filtres</span>
                        </HeaderTemplate>
                        <ChildContent>
                            <RadzenCard Variant="Variant.Flat">
                                <RadzenStack>
                                    <RadzenStack Orientation="Orientation.Vertical" Wrap="FlexWrap.Wrap">
                                        <RadzenLabel Text="Produits" Component="burgers" />

                                        <RadzenCheckBoxList AllowSelectAll="true"
                                            SelectAllText="Tous"
                                            Name="burgers"
                                            Value=@(criteria.Burgers ?? AllBurgers)
                                            TValue="string"
                                            Change="OnBurgerChange"
                                        >
                                            <Items>
                                                @foreach (var burger in AllBurgers)
                                                {
                                                    <RadzenCheckBoxListItem Text="@burger" Value="@burger" />
                                                }
                                            </Items>
                                        </RadzenCheckBoxList>

                                        <RadzenRadioButtonList @bind-Value=@criteria.CombinationMode TValue="CombinationMode">
                                            <Items>
                                                <RadzenRadioButtonListItem Text="Au moins un produit sélectionné" Value="CombinationMode.AtLeastOne" />
                                                <RadzenRadioButtonListItem Text="Uniquement parmi les produits sélectionés" Value="CombinationMode.OnlySelected" />
                                                <RadzenRadioButtonListItem Text="Exactement les produits sélectionés" Value="CombinationMode.ExactSelection" />
                                            </Items>
                                        </RadzenRadioButtonList>
                                    </RadzenStack>
                                </RadzenStack>
                            </RadzenCard>
                        </ChildContent>
                    </RadzenPanel>
                    <br />                        
                }
            }
            @if (!criteria.OnlyOne) 
            {
                <span>
                    @GetFilteredBurgers(campaign.Burgers).Count() produits
                    @if (criteria.Burgers != null)
                    {
                        <span style="font-size:0.9em;font-style:italic"> (sélection : @GetFilteredBurgers(campaign.Burgers).Sum(b => b.Chance).ToString("0.0%"))</span>
                    }
                </span>
                <br />
                <br />
                <RadzenDataGrid Data="@GetFilteredBurgers(campaign.Burgers)" PageSize="50" AllowPaging="true">
                    <Columns>
                        <RadzenDataGridColumn Title="Produit">
                            <Template Context="data">
                                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Wrap="FlexWrap.Wrap">
                                    <img src="@data.Image" class="image" />
                                    <span>@data.Name</span>
                                </RadzenStack>
                                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Wrap="FlexWrap.Wrap">
                                    @if (data.Name2 != null)
                                    {
                                        <img src="@data.Image2" class="image" />
                                        <span>@data.Name2</span>
                                    }
                                </RadzenStack>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn HeaderCssClass="col-3">
                            <HeaderTemplate>
                                <span class="header" @onclick="@(() => ToggleSort("chance"))">
                                    <span>%</span>
                                    @if (criteria.SortBy == "chance")
                                    {
                                        <RadzenIcon Icon="@(criteria.Asc ? "arrow_drop_up" : "arrow_drop_down")" />
                                    }
                                </span>
                            </HeaderTemplate>
                            <Template Context="data">
                                <RadzenStack AlignItems="AlignItems.Start" Gap="0">
                                    <span>@data.Chance.ToString("0.0 %")</span>
                                    @if (campaign.TotalCount > 0)
                                    {
                                        <span class="detail">réel : @((data.TotalCount / (decimal)campaign.TotalCount).ToString("0.0 %"))</span>
                                    }
                                    @if (IsAuthenticated && campaign.MyCount > 0)
                                    {
                                        <span class="detail">moi : @((data.MyCount / (decimal)campaign.MyCount).ToString("0.0 %"))</span>
                                    }
                                </RadzenStack>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn HeaderCssClass="col-2">
                            <HeaderTemplate>
                                <span class="header" @onclick="@(() => ToggleSort("price"))">
                                    <span>Prix</span>
                                    @if (criteria.SortBy == "price")
                                    {
                                        <RadzenIcon Icon="@(criteria.Asc ? "arrow_drop_up" : "arrow_drop_down")" />
                                    }
                                </span>
                            </HeaderTemplate>
                            <Template Context="data">
                                <RadzenStack AlignItems="AlignItems.Start" Gap="0">
                                    <span>@(data.Price.ToString("0.00 €") ?? "-")</span>
                                    <span class="detail">(x @((data.Price / campaign.Price).ToString("0.00")))</span>
                                </RadzenStack>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn HeaderCssClass="col-4">
                            <HeaderTemplate>
                                <span class="header" @onclick="@(() => ToggleSort("energy"))">
                                    <span>kcal</span>
                                    @if (criteria.SortBy == "energy")
                                    {
                                        <RadzenIcon Icon="@(criteria.Asc ? "arrow_drop_up" : "arrow_drop_down")" />
                                    }
                                </span>
                            </HeaderTemplate>
                            <Template Context="data">
                                <RadzenStack AlignItems="AlignItems.Start" Gap="0">
                                    <span>@(data.Energy.ToString("0 kcal") ?? "-")</span>
                                </RadzenStack>
                            </Template>
                        </RadzenDataGridColumn>
                        @if (IsAuthenticated)
                        {
                            <RadzenDataGridColumn HeaderCssClass="col-1" CssClass="@(IsCurrent ? "mystere-count" : "")">
                                <HeaderTemplate>                                
                                    <span class="header" @onclick="@(() => ToggleSort("count"))">
                                        <span>Loot</span>
                                        @if (criteria.SortBy == "count")
                                        {
                                            <RadzenIcon Icon="@(criteria.Asc ? "arrow_drop_up" : "arrow_drop_down")" />
                                        }
                                    </span>                             
                                </HeaderTemplate>
                                <Template Context="data">
                                    <span>@data.MyCount</span>
                                    @if (IsCurrent)
                                    {
                                        <RadzenFabMenu Icon="add_reaction" Disabled="loading">
                                            <RadzenFabMenuItem Text="Pour moi" Click=@(args => AddMysteryRollMe(data.Id, campaign.Name)) />
                                            <RadzenFabMenuItem Text="Pour un autre" Click=@(args => AddMysteryRollAnonymous(data.Id, campaign.Name)) />
                                        </RadzenFabMenu>       
                                    }
                                </Template>
                            </RadzenDataGridColumn>
                        }
                    </Columns>
                </RadzenDataGrid>
            }
            else
            {
                <span>@GetSingleBurgers(campaign.Burgers).Count() produits</span>
                <br />
                <br />
                <RadzenDataGrid Data="@GetSingleBurgers(campaign.Burgers)">
                    <Columns>
                        <RadzenDataGridColumn Title="Produit">
                            <HeaderTemplate>
                                <span class="header" @onclick="@(() => ToggleSort("name"))">
                                    <span>Produit</span>
                                    @if (criteria.SortBy == "name")
                                    {
                                        <RadzenIcon Icon="@(criteria.Asc ? "arrow_drop_up" : "arrow_drop_down")" />
                                    }
                                </span>
                            </HeaderTemplate>
                            <Template Context="data">
                                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Wrap="FlexWrap.Wrap">
                                    <img src="@data.Image" class="image" />
                                    <span>@data.Name</span>
                                </RadzenStack>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn HeaderCssClass="col-3">
                            <HeaderTemplate>
                                <span class="header" @onclick="@(() => ToggleSort("chance"))">
                                    <span>%</span>
                                    @if (criteria.SortBy == "chance")
                                    {
                                        <RadzenIcon Icon="@(criteria.Asc ? "arrow_drop_up" : "arrow_drop_down")" />
                                    }
                                </span>
                            </HeaderTemplate>
                            <Template Context="data">
                                <RadzenStack AlignItems="AlignItems.Start" Gap="0">
                                    <span>@data.Chance.ToString("0.0 %")</span>
                                    @if (campaign.TotalCount > 0)
                                    {
                                        <span class="detail">réel : @((data.TotalCount / (decimal)campaign.TotalCount).ToString("0.0 %"))</span>
                                    }
                                    @if (IsAuthenticated && campaign.MyCount > 0)
                                    {
                                        <span class="detail">moi : @((data.MyCount / (decimal)campaign.MyCount).ToString("0.0 %"))</span>
                                    }
                                </RadzenStack>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn HeaderCssClass="col-2">
                            <HeaderTemplate>
                                <span class="header" @onclick="@(() => ToggleSort("price"))">
                                    <span>Prix</span>
                                    @if (criteria.SortBy == "price")
                                    {
                                        <RadzenIcon Icon="@(criteria.Asc ? "arrow_drop_up" : "arrow_drop_down")" />
                                    }
                                </span>
                            </HeaderTemplate>
                            <Template Context="data">
                                <RadzenStack AlignItems="AlignItems.Start" Gap="0">
                                    <span>@(data.Price.ToString("0.00 €") ?? "-")</span>
                                    <span class="detail">(x @((data.Price * 2 / campaign.Price).ToString("0.00")))</span>
                                </RadzenStack>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn HeaderCssClass="col-4">
                            <HeaderTemplate>
                                <span class="header" @onclick="@(() => ToggleSort("energy"))">
                                    <span>kcal</span>
                                    @if (criteria.SortBy == "energy")
                                    {
                                        <RadzenIcon Icon="@(criteria.Asc ? "arrow_drop_up" : "arrow_drop_down")" />
                                    }
                                </span>
                            </HeaderTemplate>
                            <Template Context="data">
                                <RadzenStack AlignItems="AlignItems.Start" Gap="0">
                                    <span>@(data.Energy.ToString("0 kcal") ?? "-")</span>
                                </RadzenStack>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>                
            }
        }
    }
</div>

@code {
    readonly HttpClient? _client;
    private bool loading;

    private bool filter;

    private MysteryCriteria criteria = new();

    public Mystere(HttpClient? client = null)
    {
        _client = client;
    }

    [Parameter]
    public required IList<BurgerMystereListDisplay> Data { get; set; }

    [Parameter]
    public required string Month { get; set; }

    [Parameter]
    public required IList<string> Months { get; set; }

    [Parameter]
    public bool IsAuthenticated { get; set; }

    [Parameter]
    public bool IsCurrent { get; set; }

    [Parameter]
    public required string CodeRestaurant { get; set; }

    private IEnumerable<BurgerMystereDisplay> GetFilteredBurgers(IEnumerable<BurgerMystereDisplay> burgers)
    {
        return ((criteria.SortBy, criteria.Asc) switch
        {
            ("name", false) => burgers.OrderByDescending(off => off.Name).ThenByDescending(off => off.Price),
            ("name", true) => burgers.OrderBy(off => off.Name).ThenBy(off => off.Price),
            ("chance", false) => burgers.OrderByDescending(off => off.Chance).ThenByDescending(off => off.Price),
            ("chance", true) => burgers.OrderBy(off => off.Chance).ThenByDescending(off => off.Price),
            ("energy", false) => burgers.OrderByDescending(off => off.Energy).ThenByDescending(off => off.Price),
            ("energy", true) => burgers.OrderBy(off => off.Energy).ThenBy(off => off.Price),
            ("price", false) => burgers.OrderByDescending(off => off.Price).ThenBy(off => off.Energy),
            ("price", true) => burgers.OrderBy(off => off.Price).ThenBy(off => off.Energy),
            ("count", false) => burgers.OrderByDescending(off => off.MyCount).ThenByDescending(off => off.Chance),
            ("count", true) => burgers.OrderBy(off => off.MyCount).ThenByDescending(off => off.Chance),
            _ => burgers
        }).Where(b =>
            criteria.Burgers == null
            || criteria.CombinationMode == CombinationMode.AtLeastOne && (criteria.Burgers.Contains(b.Name) || criteria.Burgers.Contains(b.Name2!))
            || criteria.CombinationMode == CombinationMode.OnlySelected && criteria.Burgers.Contains(b.Name) && criteria.Burgers.Contains(b.Name2!)
            || criteria.CombinationMode == CombinationMode.ExactSelection && (
                criteria.Burgers.Count == 1 && criteria.Burgers[0] == b.Name && b.Name == b.Name2)
                || criteria.Burgers.Count == 2 && (
                    criteria.Burgers[0] == b.Name && criteria.Burgers[1] == b.Name2
                    || criteria.Burgers[0] == b.Name2 && criteria.Burgers[1] == b.Name));
    }

    private IEnumerable<SingleMysteryBurgerDisplay> GetSingleBurgers(IEnumerable<BurgerMystereDisplay> burgers)
    {
        var singleBurgers = burgers.SelectMany(b => new[] 
        { 
            new SingleMysteryBurgerDisplay(b.Name, b.Image, b.Price1, b.Energy1, b.Chance, b.MyCount, b.TotalCount),
            new SingleMysteryBurgerDisplay(b.Name2!, b.Image2, b.Price2, b.Energy2, b.Chance, b.MyCount, b.TotalCount)
        })
            .GroupBy(b => (b.Name, b.Image, b.Price, b.Energy))
            .Select(g => new SingleMysteryBurgerDisplay(
                g.Key.Name, 
                g.Key.Image,
                g.Key.Price,
                g.Key.Energy,
                Chance: g.Sum(b => b.Chance), 
                MyCount: g.Sum(b => b.MyCount), 
                TotalCount: g.Sum(b => b.TotalCount)
            ));

        return ((criteria.SortBy, criteria.Asc) switch
        {
            ("name", false) => singleBurgers.OrderByDescending(off => off.Name).ThenByDescending(off => off.Price),
            ("name", true) => singleBurgers.OrderBy(off => off.Name).ThenBy(off => off.Price),
            ("chance", false) => singleBurgers.OrderByDescending(off => off.Chance).ThenByDescending(off => off.Price),
            ("chance", true) => singleBurgers.OrderBy(off => off.Chance).ThenByDescending(off => off.Price),
            ("energy", false) => singleBurgers.OrderByDescending(off => off.Energy).ThenByDescending(off => off.Price),
            ("energy", true) => singleBurgers.OrderBy(off => off.Energy).ThenBy(off => off.Price),
            ("price", false) => singleBurgers.OrderByDescending(off => off.Price).ThenBy(off => off.Energy),
            ("price", true) => singleBurgers.OrderBy(off => off.Price).ThenBy(off => off.Energy),
            _ => singleBurgers
        });
    }

    private IEnumerable<string> AllBurgers => Data.SelectMany(d => d.Burgers).SelectMany(b => new[] { b.Name, b.Name2! }).Where(n => n != null).Distinct().Order();

    private void ToggleSort(string field)
    {
        criteria.Asc = !criteria.Asc;
        criteria.SortBy = field;
    }

    private void OnMonthChange(object change)
    {
        var month = (string)change;
        navigationManager.NavigateTo(navigationManager.Uri.Replace(Month, month));
    }

    private void OnBurgerChange(IEnumerable<string>? burgers)
    {
        criteria.Burgers = burgers?.Count() == AllBurgers.Count() ? null : (burgers ?? []).ToList();
    }

    private async Task AddMysteryRollMe(int mpId, string campaignName)
    {
        if (_client != null)
        {
            loading = true;
            var response = await _client.PutAsync($"api/mystery/me/{mpId}/{CodeRestaurant}", null);
            loading = false;
            navigationManager.Refresh();
            notificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = $"Votre {campaignName} a bien été enregistré !" });
        }
    }

    private async Task AddMysteryRollAnonymous(int mpId, string campaignName)
    {
        if (_client != null)
        {
            loading = true;
            var response = await _client.PutAsync($"api/mystery/anonymous/{mpId}/{CodeRestaurant}", null);
            loading = false;
            navigationManager.Refresh();
            notificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = $"Votre {campaignName} a bien été enregistré !" });
        }
    }

    private enum CombinationMode
    {
        AtLeastOne,
        OnlySelected,
        ExactSelection
    }

    private record MysteryCriteria
    {
        public string SortBy { get; set; } = "chance";

        public bool Asc { get; set; }

        public CombinationMode CombinationMode { get; set; }

        public IList<string>? Burgers { get; set; }

        public bool OnlyOne { get; set; }
    }

    private record SingleMysteryBurgerDisplay(string Name, string? Image, double Price, double Energy, double Chance, int MyCount, int TotalCount);
}
