@page "/admin"
@using System.Globalization
@using System.Net
@using System.Net.Http.Headers
@using System.Text.RegularExpressions
@using CestlheureduBK.Services
@using GeoCoordinate.NetStandard2;
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer
@inject BKDbContext context;
@inject GetDataService getDataService;
@inject UpdateDataService updateDataService;

<PageTitle>C'est l'heure du BK ! - Chargement des données</PageTitle>

<RadzenStack AlignItems="AlignItems.Start">
    <h1>Administration</h1>

    <RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap" AlignItems="AlignItems.Center">
        <RadzenLabel Text="Access Token pour l'API BK" Component="accessToken" />
        <RadzenTextBox @bind-Value=@accessToken Name="accessToken" Style="width:303px" />
    </RadzenStack>

    <RadzenButton Click="() => CallService(Service.Offers)" Disabled="loading" Text="Recharger les offres" />
    <RadzenButton Click="() => CallService(Service.Restaurants)" Disabled="loading" Text="Recharger les restaurants" />

    <RadzenTable>
        <RadzenTableHeader>
            <RadzenTableHeaderRow>
                <RadzenTableHeaderCell>Restaurant</RadzenTableHeaderCell>
                <RadzenTableHeaderCell Style="width:170px">Dernière MàJ</RadzenTableHeaderCell>
                <RadzenTableHeaderCell Style="width:60px" />
            </RadzenTableHeaderRow>
        </RadzenTableHeader>
        <RadzenTableBody>
            @foreach (var restaurant in restaurants)
            {
                <RadzenTableRow>
                    <RadzenTableCell>@restaurant.FullName</RadzenTableCell>
                    <RadzenTableCell>@ToLocalTime(restaurant.CatalogueUpdate)</RadzenTableCell>
                    <RadzenTableCell><RadzenButton Icon="refresh" Disabled="loading" Click="@(() => ReloadCatalogue(restaurant.Id))" /></RadzenTableCell>
                </RadzenTableRow>
            }
        </RadzenTableBody>
    </RadzenTable>

    <RadzenButton Click="() => CallService(Service.ResetDb)" Disabled="loading" Text="Tout réinitialiser" />

    @if (loading)
    {
        <RadzenProgressBarCircular Mode="ProgressBarMode.Indeterminate" ShowValue="false" />
    }

    <RadzenText class="@ClassName" Text="@message" />
</RadzenStack>



@code {
    bool loading;
    string? accessToken;
    string? message;
    bool error;

    RestaurantDisplay[] restaurants = [];

    string ClassName => error ? "error" : "";

    protected override async Task OnInitializedAsync()
    {
        restaurants = (await getDataService.GetRestaurants()).Where(r => r.CatalogueUpdate != null)
            .OrderByDescending(r => r.CatalogueUpdate)
            .ToArray();
    }

    private async Task CallService(Service service)
    {
        if (service == Service.Restaurants || !string.IsNullOrEmpty(accessToken))
        {
            message = null;
            error = false;
            loading = true;

            (message, error) = service switch
            {
                Service.Offers => await updateDataService.ReloadOffers(accessToken),
                Service.Restaurants => await updateDataService.ReloadRestaurants(),
                Service.ResetDb => await updateDataService.ResetDb(accessToken),
                _ => default
            };

            loading = false;
        }
    }

    private async Task ReloadCatalogue(string resturantId)
    {
        message = null;
        error = false;
        loading = true;

        (message, error) = await updateDataService.ReloadCatalogue(resturantId);
        await OnInitializedAsync();

        loading = false;
    }

    enum Service
    {
        Offers,
        Restaurants,
        ResetDb
    }

    private string ToLocalTime(DateTime? date)
    {
        if (date == null)
        {
            return string.Empty;
        }

        return TimeZoneInfo.ConvertTimeFromUtc(date.Value, TimeZoneInfo.FindSystemTimeZoneById("Europe/Paris"))
            .ToString("dd/MM/yyyy à HH:mm");
    }
}
